
:root{
    --mainColor: #ffcae8;
    --secondaryColor: rgba(86, 79, 79, 0.33);

    --borderColor: rgba(67, 66, 70, 0.19);

    --mainText:black;
    --secondaryText: #4b5156;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;

    --buttonColor:black;

}
html, body{
    padding:0;
    margin: 0;
    background: linear-gradient(0deg, #f1f0f5 50%, #e79e9e 100%); /* W3C */
}
h1,h2,h3,h4,h5,h6,strong{
    color:var(--mainText);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

p,li,span,label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Lora', serif;


}

a{
    text-decoration: none;
    color: #17a2b8;

}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.s1{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #fd7fee 50%, #b9b9b9 100%); /* W3C */
    color: #eae9e9;

}

.buttonInc{
    transition-duration: 0.20s;
    background-color: #b48ae8;
    color: white;
    border:2px solid black;
    padding: 16px 32px;
    display: inline-block;
    font-size: medium;
    cursor: pointer;
    border-radius: 4px;
}

.buttonInc:hover{
    background: linear-gradient(0deg, #c2efc6 50%, #b9b9b9 100%); /* W3C */
    color: #091218;
}



.main-container{
    text-align: center;

}

.center{
    padding-top: 50px;
    text-align: center;
}

.s2{
    background: linear-gradient(0deg, #c9adf1 50%, #e79e9e 100%); /* W3C */
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.main-container2{
    width: 1200px;
    margin: 0 auto;
}

.post{
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -2px -7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px -7px 21px -9px rgba(0,0,0,0.75);
}

.post-wrapper{
    display: inline-block;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post-preview{
    background-color: #fff;
    padding: 15px;

}

.post-title{
    color: black;
    margin: 0;

}
.post-intro{
    color: #4b5156;
    font-size: 16px;
}

#myTextArea {
    width: 250px;
    min-height: 35px;
    overflow-y: hidden;
}

#oh{
    width: 50px;
}
#oo{
    width: 50px;
}

#social-1{
    height: 30px;
    width: 30px;
    margin: 5px;
}

#social-2{
    height: 30px;
    width: 30px;
    margin: 5px;
}

#myIcon{
    height: 75px;
    width: 75px;
    margin-top: -100px;
}

@media only screen and (max-width: 500px) {
    .hehe{
        display: inline-flex;
    }
    .s1{
        display: inline-block;
        width: auto;
        gap: 10px;

    }
    .center{
        text-align: center;
        gap: 50px;
        justify-content: center;
        padding: 75px
    }
    #main1{

    }
    #inspiration{
        width: 80%;
    }
    #myIcon{
        width: 20%;
        margin-top: -100px;
    }

}

@media screen and (max-width: 1200px) {
    .main-container2{
        width: 95%
    }
}